/*! ===== menu ===== */
.menu {
	background-color: $green;
	padding: 10px 0;
}

.menu__list {
	font-size: 0;
	border-top: 1px solid #8eff8b;
	border-bottom: 1px solid #8eff8b;
}

.menu__item {
	display: inline-block;
	width: 16.66%;
	text-align: center;

	&_active .menu__link:after {
		width: 100%;
		opacity: 1;
	}
}

.menu__link {
	position: relative;
	display: inline-block;
	padding: 10px 0;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;

	&:hover:after {
		width: 100%;
		opacity: 1;
	}

	&:after {
		opacity: 0;
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 5px;
		background-color: $orange;
		transition: all 0.5s;
	}
}


/*! ===== owl-carousel_main ===== */
.owl-carousel_main {
	margin-top: 10px;
	margin-bottom: 55px;

	.owl-stage-outer {
		position: relative;
	}

	.carousel__item {
		position: relative;
		height: 375px;
		text-align: center;
	}

	.owl-prev,
	.owl-next {
		width: 40px;
	  height: 100%;
	  background-color: $orange;
	  transform-origin: center;

	  &:hover {
	  	background-color: lighten($orange, 20%);
	  }
	}

	.owl-prev {
	  left: 0;
	}

	.owl-next {
	  right: 0;
	}

	.owl-nav_arrow {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	.owl-next .owl-nav_arrow {
	  transform: translate(-50%, -50%) rotate(180deg);
	}

	.owl-dots {
		position: absolute;
		bottom: -35px;
		left: 50%;
		transform: translateX(-50%);
		background-color: rgba($orange, 0.5);
		padding: 0 20px 5px;
		border-radius: 20px;
	}

	.owl-dot {
		display: inline-block;
		margin-left: 10px;

		&:first-child {
			margin-left: 0;
		}

		span {
			display: inline-block;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: #fff;
			opacity: 0.42;
			transition: opacity 0.5s;
		}

		&:hover {
			span {
				opacity: 1;
			}
		}

		&.active {
			span {
				opacity: 1;
			}
		}
	}
}


.slide-1__item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 40px 77px;
}

.slide-1__item_orange {
	.slide-1__img-holder {
		background-color: $orange;
	}
}

.slide-1__item_redbag {
	.slide-1__img {
		top: 35%;
	}
}

.slide-1__overtext {
	position: absolute;
	width: 180px;
	top: 40%;
	right: -100px;
	font-size: 16px;
	text-align: right;
	font-weight: bold;
	line-height: 1.5rem;

	.icon {
		position: absolute;
		top: -80px;
		left: -30px;
	}
}

.slide-1__item_laptop {
	padding: 40px 40px 40px 120px;

.slide-1__img-holder {
	overflow: hidden;
}
	.slide-1__img {
		left: 45%;
	}

	.slide-1__caption {
		background-color: #fff;
		left: 60%;
	}
}

.slide-1__item_notes {
	.slide-1__img {
		left: 57%;
	}
}

.slide-1__img-holder {
	position: relative;
	width: 295px;
	height: 295px;
	border-radius: 50%;
	background-color: white;
}

.slide-1__img {
	max-width: inherit;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slide-1__caption {
	position: absolute;
	bottom: 35px;
	left: 50%;
	transform: translateX(-50%);
	width: 225px;
	height: 35px;
	line-height: 35px;
	background-color: $orange;
	text-transform: uppercase;
	text-align: center;
}

// .slide_3
.slide_3 {
	height: 100%;
	background-color: #fff;
}

.slide-3__list {
	height: 100%;
	margin: 0 40px;
	font-size: 0;
}

.slide-3__item {
	height: 100%;
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 23.54%;

	&:not(:first-child) {
		margin-left: 25px;
	}
}

.slide-3__content {
	position: relative;
	height: 100%;
	border: 1px solid #f7f6f1;
	
	&:hover .slide-3__link {
		display: block;
	}
}

.slide-3__content_top {
	height: 180px;
}

.slide-3__content_bottom {
	height: 180px;
	margin-top: 15px;
}

.slide-3__link {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: rgba(#fff, 0.45);
}

.slide-3__icon-holder {
	@include center-translate();
	width: 52px;
	height: 52px;
	background-color: #fff;
	border-radius: 50%;

	.icon {
		@include center-translate();
	}
}

.slide-3__img {
	width: 100% !important;
}

.slide-3__title {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	border: 1px solid #f7f6f1;
	padding: 9px 0;
	font-size: 16px;
	text-align: center;
	color: #282828;
	line-height: 1.5rem;
}


/*! ===== main__text ===== */
.main__text-holder {
	padding: 45px 0;
	border-top: 1px solid #ebeae7;
	border-bottom: 1px solid #ebeae7;
}

.main__text {
	padding-left: 20px;
	border-left: 10px solid $orange;
	line-height: 1.5rem;
}

.readmore {
	display: inline-block;
	padding: 0 5px;
	color: $green;
	background-color: #f3f3f2;

	.fa {
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
		transform: rotate(-90deg);
	}
}


/*! ===== owl-carousel_clients ===== */
.owl-carousel_clients {
	width: 85%;
	margin: 40px auto;

	.carousel__item {
		padding: 0 10px;
	}

	.owl-prev {
	  left: -9%;
	}

	.owl-next {
	  right: -9%;
	}

	.owl-next .owl-nav_arrow {
	  transform: rotate(180deg);
	}

}
