// ====== footer ======= 
footer.footer
	._container
		._row

			.logo
				a.logo__link(href="#")
					img.logo__img(src="img/logo_sm.png", alt="logo")


			.footer-text
				spna Доставка готовой продукции в регионы Украины
				.icon.icon-delivery


			.contacts.contacts_footer
				
				ul.contacts__list

					li.contacts__item
						a.contacts__link(href="tel:+380482330134")
							span (0482) 33 01 34

					li.contacts__item
						a.contacts__link(href="tel:+380482324227")
							span (0482) 32 42 27

					li.contacts__item
						a.contacts__link(href="tel:+380482330135")
							span (0482) 33 01 35

					li.contacts__item
						a.contacts__link(href="tel:+380949468255")
							span (094) 946 82 55

.footer_copyright
	._container
		p &copy; 2012 Paper Bag System. Все права защищены.
		p Создание и разработка сайта Skylogic