// ====== header ======= 
header.header
	._container
		._row

			.logo
				a.logo__link(href="#")
					img.logo__img(src="img/logo.png", alt="logo")


			.search
				form.search__form
					input.search__input(type="text" name="search" placeholder="Поиск")


			.contacts.contacts_header
				
				.contacts__text Телефоны: 

				ul.contacts__list

					li.contacts__item
						a.contacts__link(href="tel:+380949468255")
							span (094) 
							span.contacts__text_big 946 82 55

					li.contacts__item
						a.contacts__link(href="tel:+380482330134")
							span (0482) 
							span.contacts__text_big 33 01 34