// ====== header ======= 
header.header
	._container
		._row

			.logo
				a.logo__link(href="/")
					img.logo__img(src="img/logo.png", alt="logo")


			.search
				form.search__form
					input.search__input(type="text" name="search" placeholder="Поиск")


			.contacts.contacts_header
				
				.contacts__text Телефоны: 

				ul.contacts__list

					li.contacts__item
						a.contacts__link(href="tel:+380949468255")
							span (094) 
							span.contacts__text_big 946 82 55

					li.contacts__item
						a.contacts__link(href="tel:+380482330134")
							span (0482) 
							span.contacts__text_big 33 01 34


		// ====== menu =======
		nav.menu
			ul.menu__list

				li.menu__item.menu__item_active
					a.menu__link(href="about.html") О компании

				li.menu__item
					a.menu__link(href="serial.html") Серийные пакеты

				li.menu__item
					a.menu__link(href="boxes.html") Картонная  упаковка

				li.menu__item
					a.menu__link(href="packages.html") Пакеты под заказ

				li.menu__item
					a.menu__link(href="promo.html") Рекламная продукция

				li.menu__item
					a.menu__link(href="contacts.html") Контакты