extends ../main

block content
	
	// ====== main ======= 
	main.about

		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item.breadcrumbs__item_active
					span.breadcrumbs__link О компании

		h1.title.about__title ПБС Украина

		// ====== main__text =======
		.text-holder
			.text-block
				p Компания ПБС-Украина – это не только современный технологический процесс. Это еще – и профессиональный коллектив. Система управления производством, применяющаяся в нашей компании, позволяет гарантировать  своевременное и качественное изготовление готовой продукции, а также в любой момент получать полную информацию о состоянии Заказа. Продукция, производимая на нашем предприятии, доставляется по всей территории Украины.

		hr

		.about-images
			ul.about-images__list
				li.about-images__item
					img.about-images__img(src='img/about/1.jpg' alt='')
				li.about-images__item
					img.about-images__img(src='img/about/2.jpg' alt='')
				li.about-images__item
					img.about-images__img(src='img/about/3.jpg' alt='')

		hr

		.about-equipment

			.title.about-equipment__title Оборудование

			.about-equipment__catpion На нашем предприятии установлено:

			ul.about-equipment__list
				li.about-equipment__item офсетная печатная машина Heidelberg SpeedMaster, 6 красок, формат Б1
				li.about-equipment__item высечка формата Б1, Б2
				li.about-equipment__item фальцевальная машина
				li.about-equipment__item тиснение в формате Б1
				li.about-equipment__item ламинирование (глянец или мат) в формате Б1
				li.about-equipment__item 3-х точечная склейка картонных коробок
				li.about-equipment__item автоматическая линия по сборке бумажных пакетов с прямоугольным дном


		.about-images
			ul.about-images__list
				li.about-images__item
					img.about-images__img(src='img/about/4.jpg' alt='')
				li.about-images__item
					img.about-images__img(src='img/about/5.jpg' alt='')
				li.about-images__item
					img.about-images__img(src='img/about/6.jpg' alt='')

		hr

		.text-holder
			.text-block.text-block_italic
				p Производственный цикл максимально автоматизирован, что позволяет выполнять сложные заказы в минимальные сроки. И самое главное – с гарантированным качеством.