extends ../main

block content
	
	// ====== main ======= 
	main.packages-page

		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item.breadcrumbs__item_active
					span.breadcrumbs__link Пакеты под заказ

		h1.title.packages__title Пакеты под заказ

		.packages
			ul.packages__list
				li.packages__item
					.packages__img-holder
						img.packages__img(src='img/packages/1.jpg' alt="")
					.packages__item-title Ламинированные
					.packages__item-text
						p Бумажный пакет — один из самых популярных видов подарочной упаковки и также  носитель Вашего фирменного стиля, необходимый компонент имиджа и
						a.readmore(href="#") читать все

				li.packages__item
					.packages__img-holder
						img.packages__img(src='img/packages/2.jpg' alt="")
					.packages__item-title Крафт-бумага
					.packages__item-text
						p Пакеты под заказ также делаются из белой или бурой крафт-бумаги плотностью 70-120г/кв.м; джутовыми, высечными или бумажными кручеными ручками.

				li.packages__item
					.packages__img-holder
						img.packages__img(src='img/packages/3.jpg' alt="")
					.packages__item-title Для ресторанов
					.packages__item-text
						p Рестораны и кафе используют для еды на вынос пакеты из крафт-бумаги с печатью, с ручками или без. Удобный размер пакета с ручками, куда становится 3 лотка

				li.packages__item
					.packages__img-holder
						img.packages__img(src='img/packages/4.jpg' alt="")
					.packages__item-title Для супермаркетов
					.packages__item-text
						p Для упаковки товаров в магазинах используются обычно три размера пакетов:
						a.readmore(href="#") читать все

				li.packages__item
					.packages__img-holder
						img.packages__img(src='img/packages/5.jpg' alt="")
					.packages__item-title Для сыпучей продукции
					.packages__item-text
						p Для угля и сыпучей продукции предлагаем под заказ одно- и двухслойные пакеты различных размеров из белого или бурого крафта.

				li.packages__item
					.packages__img-holder
						img.packages__img(src='img/packages/6.jpg' alt="")
					.packages__item-title Под нанесение
					.packages__item-text
						p Со склада предлагаем готовые пакеты без печати разных размеров.

				li.packages__item
					.packages__img-holder
						img.packages__img(src='img/packages/7.jpg' alt="")
					.packages__item-title Ручки
					.packages__item-text
						p Ручки на пакетах могут быть веревочными различных цветов, джутовыми, бумажными кручеными или высечными.

