extends ../main

block content
	
	// ====== main ======= 
	main.promo-page

		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item.breadcrumbs__item_active
					span.breadcrumbs__link Рекламная продукция

		h1.title.promo__title Рекламная продукция

		.promo
			ul.promo__list

				li.promo__item
					a.promo__link(href="promo-item.html")
						.promo__img-holder.promo__img-holder_1
						.promo__item-title Афиши и плакаты

				li.promo__item
					a.promo__link(href="promo-item.html")
						.promo__img-holder.promo__img-holder_2
						.promo__item-title Листовки и флаера

				li.promo__item
					a.promo__link(href="promo-item.html")
						.promo__img-holder.promo__img-holder_3
						.promo__item-title Буклеты и каталоги

				li.promo__item
					a.promo__link(href="promo-item.html")
						.promo__img-holder.promo__img-holder_4
						.promo__item-title Календари

				li.promo__item
					a.promo__link(href="promo-item.html")
						.promo__img-holder.promo__img-holder_5
						.promo__item-title Этикетки

				li.promo__item
					a.promo__link(href="promo-item.html")
						.promo__img-holder.promo__img-holder_6
						.promo__item-title Широко форматная печать

				li.promo__item
					a.promo__link(href="promo-item.html")
						.promo__img-holder.promo__img-holder_7
						.promo__item-title POS материалы

